.town-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  &__text {
    margin-bottom: 4px;
  }
  &__input {
    margin: 5px;
    padding: 2px;
    border: dotted 2px teal;
  }
  &__error {
    color: red;
    margin-bottom: 10px;
  }
  &__select {
    margin-top: 5px;
    margin-bottom: 40px;
    border: dotted 2px palegreen;
  }
}

.fade-in {
  opacity: 1;
  animation-name: fadeInOpacity;
  animation-iteration-count: 1;
  animation-timing-function: ease-in;
  animation-duration: 0.4s;
}

@keyframes fadeInOpacity {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
